html {
    background-color: white;
    width: auto;
    height: auto;
    border: 0.1rem solid black;
}

body,
html {
    margin: 0rem;
    padding: 0rem;
}

.child-1 {
    height: 11rem;
    width: 100%;
    background-color: white;
    border-bottom: 0.1rem solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-logo .logo {
    margin-right: 2.5rem;
}

.header-1 h1 {
    margin-right: 1rem;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar input {
    background-color: #D9D9D9;
    border: none;
    margin-right: 1rem;
    height: 1.625rem;
    width: 12rem;
}

li {
    font-family: 'Inter';
    font-size: 1.25rem;
    letter-spacing: -0.125rem;
    color: #000000;
}

nav {
    display: flex;
    flex-direction: row;
    padding-right: 3.75rem;
}


nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 5rem;
}

nav a {
    font-size: 2rem;
    height: 3rem;
    line-height: 0.106rem;
    text-decoration: none;
    color: black;
}

nav li input {
    vertical-align: middle;
    border: none;
    background-color: #D9D9D9;
    width: 12rem;
    height: 1.625rem;
}

nav li img {
    vertical-align: middle;
}

.search-bar li {
    margin-right: 1rem;
}


.child-2 {
    height: 7rem;
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-button {
    height: 35.06px;
    width: 362px;
    display: flex;
    gap: 10px;
}

.header-button button {
    width: 158.35px;
    height: 35.06px;
    font-family: 'Inter';
    font-size: 20px;
    letter-spacing: -2;
    border: none;
    align-self: flex-end;
    background-color: #D9D9D9;
    color: #000000;
}

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-1 p {
    font-family: 'Newsreader';
    font-size: 36px;
    letter-spacing: -2px;
    font-style: italic;
    text-align: center;
}

.container-2 {
    height: 114.05px;
    width: 801px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.container-2 h2 {
    vertical-align: middle;
    font-family: 'Newsreader';
    font-size: 40px;
    letter-spacing: -2%;
    color: #6B6B6B;
}

.container-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.image-1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 26rem;
    height: 24rem;
}

.image-2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 26rem;
    height: 24rem;
}

.image-3 {
    grid-area: 1 / 3 / 2 / 4;
    width: 26rem;
    height: 24rem;
}

.image-4 {
    grid-area: 2 / 1 / 3 / 2;
    width: 26rem;
    height: 24rem;
}

.container-4 {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 700px;
    height: 297.45px;
    background-color: #E7E6E6;
    justify-content: center;
    align-items: top;
}

.container-4 a {
    font-family: 'Newsreader';
    font-size: 40.68px;
    line-height: 59.3px;
    letter-spacing: -2%;
    color: #000000;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
}

.container-4 img {
    align-self: flex-end;
}

.container-5 {
    display: flex;
    margin: 3rem;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    flex-direction: row;
    margin-bottom: 6rem;
}


.box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17rem;
    width: 40rem;
    background-color: #D9D9D9;
    padding: 4rem;
}

h4 {
    font-family: 'Newsreader';
    font-size: 3rem;
    font-style: italic;
    letter-spacing: -0.125rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 1rem;

}

.box-1 p {
    font-family: 'Newsreader';
    font-size: 24px;
    font-style: italic;
    letter-spacing: -2%;
    line-height: 52.8px;
    margin-top: 0rem;
}

.box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13rem;
    width: 34rem;
    background-color: #D9D9D9;
    padding: 4rem;
    margin-left: 1.25rem;
}

.box-2 input {
    width: 28rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-indent: 1.25rem;
    font-family: 'Newsreader';
    font-size: 1rem;
    font-style: italic;
    letter-spacing: -2%;
}

.container-6 {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20rem;

}

.container-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-7 label {
    font-family: 'Newsreader';
    font-size: 16px;
    font-style: italic;
    letter-spacing: -2%;
}

.container-7 input {
    width: auto;
    height: auto;
}

.input-1 {
    width: auto;
    height: auto;
    border-color: 0.1rem black solid;
}

.input-2 {
    width: 211px;
    height: 88.29px;
    border-color: 1px black solid;
    margin: 40px 0px 30px 0px;
    text-indent: 10px;
    font-family: 'Newsreader';
    font-size: 16px;
    font-style: italic;
    letter-spacing: -2%;
}

.container img {
    width: 450px;
    height: 450px;
    margin-right: 20px;
}

.list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

.list-container ul {
    margin: 60px;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-container h5 {
    font-family: 'Newsreader';
    font-size: 18px;
    margin-bottom: 5px;
    letter-spacing: 4px;
    margin-bottom: 5px;
    line-height: 110%;
    justify-content: left;
    font-style: bold;
    color: black;
}

.list-container a {
    text-decoration: none;
    font-family: 'Newsreader';
    font-size: 18px;
    margin-bottom: 5px;
    letter-spacing: 4px;
    margin-bottom: 5px;
    line-height: 110%;
    justify-content: left;
    font-style: italic;
    color: black;
}

.footer-1 {
    display: flex;
    width: 100%;
    height: 132.32px;
    background-color: #A3A3A3;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    overflow: auto;
    flex-direction: row;
}

.footer-image {
    margin-right: 60px;
}

.footer-2 {
    align-content: right;
    display: flex;
    flex-direction: column;
}

.container-9 {
    width: 509.88px;
    height: 179.68px;
    background-color: #120F12;
    align-self: center;
    justify-content: center;
    margin-right: 100px;
    grid-area: 1 / 3 / 2 / 4;
}

.container-8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
}

.container-9 h5 {
    font-family: 'Newsreader';
    color: white;
    font-size: 32px;
    font-style: italic;
    letter-spacing: -2%;
    text-align: center;
    margin: 2.5rem 0rem 0rem 0rem;
}

.container-10 {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    margin: 0.62rem 0rem 0rem 1.8rem;
}

.container-10 input,
button {
    margin: 10px 10px 0px 0px;
}

.container-10 button {
    height: 3.5rem;
    width: 3.6rem;
    background-color: #D9D9D9;
    color: #000000;
    font-family: 'Newsreader';
    font-size: 1rem;
    font-style: italic;
    border: none;
}

.container-10 input {
    height: 58px;
    width: 174px;
    background-color: white;
    color: #A3A3A3;
    font-family: 'Newsreader';
    font-size: 16px;
    font-style: italic;
    border: none;
    padding-left: 10px;
}

@media (min-width: 400px) and (max-width: 1240px) {
    header {
        height: auto;
        padding: 1rem;
    }

    .child-1 {
        flex-direction: column;
        height: auto;
    }

    .header-logo .logo {
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-1 h1 {
        margin-right: 3rem;
    }

    nav {
        flex-direction: column;
        margin: 2rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
        text-align: center;
        font-size: 2rem;
    }

    .search-bar {
        margin-left: 4rem;
        flex-direction: row;
        align-self: center;
        align-self: center;
    }

    .child-2 {
        flex-direction: column;
        justify-content: center;
    }

    .container-1 {
        width: auto;
        height: auto;
    }

    .container-1 p {
        text-align: center;
        font-size: auto;
        margin: 2rem;
    }

    .container-2 {
        width: auto;
        height: auto;
    }

    .container-2 h2 {
        text-align: center;
        font-size: auto;
    }

    .container-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 60%;
        margin-bottom: 0rem;
    }

    .container-4 h3 {
        font-size: 2rem;
    }

    .container-4 img {
        margin: auto;
        width: auto;
        height: auto;
    }

    .container-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        width: auto;
        height: auto;
    }

    .box-1 {
        max-width: 60%;
        max-height: 100%;
        margin-bottom: 2rem;
        text-align: center;
    }

    .box-1 h4 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .box-1 p {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .container-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10rem;
    }

    .container-7 {
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .input-1 {
        height: auto;
        width: auto;
    }

    .input-2 {
        margin: 1rem;
        height: auto;
        width: auto;
    }

    .box-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 60%;
        height: auto;
    }

    .box-2 h4 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .box-2 input {
        height: auto;
        width: auto;
    }

    .footer-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
    }

    .footer-1 img {
        align-items: center;
    }

    .container-8 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: auto;
        height: auto;
    }

    .container-9 {
        margin: 1rem;
        width: auto;
        height: auto;
        padding: 1.5rem;
    }

    .container-9 h5 {
        font-size: 2rem;
    }

    .container-10 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-container {
        display: flex;
        flex-direction: column;
        align-items: self-start;

    }
}