html {
    background-color: white;
    width: auto;
    height: auto;
    border: 1px solid black;
}

body,
html {
    margin: 0;
    padding: 0;
}

nav {
    height: 210px;
    flex: 100%;
    display: flex;
    margin: 0px auto;

}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
    margin: 100px 70px 0px 0px;
    font-family: 'Inter';
    font-size: 24px;
    color: black;
    justify-content: center;
}

nav li h1 {
    font-family: 'Jost';
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    padding: auto;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-picture-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    height: 700px;
}

.main-picture-container img {
    width: 1203.99px;
    height: 743.05px;
    border-radius: 100px;
    justify-content: center;
    margin: 300px 0px 0px 60px;
}

.image-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.image-container-1 img {
    width: 388.43px;
    height: 342.41px;
    border-radius: 66px;
    margin-right: 20px;
    margin-top: 200px;
}

.image_container img:last-child {
    margin-right: 0;
}

.image-container-2 {
    display: flex;
    justify-content: center;
}

.image-container-2 img {
    width: 368.56px;
    height: 335.07px;
    border-radius: 62px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.image_container-2 img:last-child {
    margin-right: 0;
}

.container-1 {
    width: 1331.44px;
    height: 1316.34px;
    border-radius: 62px;
    background-color: #D9D9D9;
    margin-top: 100px;
}

.container-2 {
    width: 1372.47px;
    height: 524.38px;
    border-radius: 62px;
    background-color: #D9D9D9;
    margin-top: 100px;
    margin-bottom: 0px;
}


.container-2 h2 {
    font-family: 'Jost';
    font-size: 64px;
    font-style: italic;
    letter-spacing: -2%;
    font-weight: 400;
    line-height: auto;
    color: #6B6B6B;
    align-self: center;
    order: 1;
    margin-bottom: 0px;
    margin-top: 10px;
}

.container-2 h3 {
    font-family: 'Jost';
    font-size: 40px;
    font-style: italic;
    letter-spacing: -2%;
    font-weight: 400;
    line-height: auto;
    color: #6B6B6B;
    align-self: center;
    order: 2;
}

.container-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50px;
}

.container-4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.container-4 p {
    font-family: 'Jost';
    font-size: 35.33px;
    letter-spacing: 2%;
    color: #6B6B6B;
    text-align: center;
    margin: 50px;
}

.container-5 {
    background-color: #D9D9D9;
    height: 442.73px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-10 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-7 {
    order: 2;
    width: 50%;
}

.container-7,
.container-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-9 {
    order: 1;
    width: 50%;
}

.container-9 p {
    text-align: center;
    font-family: 'Jost';
    font-size: 35.33px;
    letter-spacing: 2%;
    color: #6B6B6B;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.form-container input {
    margin-right: 10px;
    width: 354.15px;
    height: 93.32px;
    font-family: 'Jost';
    font-size: 35.33px;
    color: #6B6B6B;
    border: none;
    text-align: center;
    border-radius: 20px;
    background-color: #aea9a9;
}

.form-container button {
    margin-right: 10px;
    width: 231px;
    height: 95px;
    border: none;
    font-family: 'Jost';
    font-size: 35.33px;
    color: #6B6B6B;
    border: none;
    text-align: center;
    border-radius: 20px;
    background-color: #aea9a9;
}

.container-6 {
    order: 2;
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.container-6 ul {
    padding: 0;
    list-style-type: none;
    justify-content: end;
    align-items: flex-start;
    margin-right: 100px;
}

.container-6 li {
    font-family: 'Jost';
    font-size: 32px;
    letter-spacing: 2%;
    text-decoration: none;
}

.container-6 a {
    text-decoration: none;
    color: #6B6B6B;
}

.container-8 {
    display: flex;
    order: 1;
}

.container-8 img {
    margin-right: 100px;
}